.container {
    position: relative;
}

.picture {
    margin-top: 3%;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.main-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;

}
